<!-- st-email-wrong-task-spam -->

<h3>
    Ihre Aufgabe wurde von der Studentask-Plattform gelöscht &nbsp;
</h3>

<p>Lieber StudenTask-Nutzer, </p>

<p>Deine kürzlich bei Studentask eingestellte Aufgabe wurde von unserer Plattform gelöscht. Dies kann folgende Gründe haben: </p>

<ul>
    <li>Das Aufgabeninserat hatte nicht die richtige Form (z.B. kein Auftragsinserat, sondern ein eigenes Leistungsangebot) oder ist vermutlich nicht ernst gemeint (ein Testposting, Spam etc.),</li>
    <li>Die Aufgabe entspricht nicht unseren AGB-Richtlinien oder wurde von jemandem als nicht akzeptabel gemeldet,</li>
    <li>Die Aufgabe steht mehr als 2 Wochen auf unserer Plattform, ohne dass sich jemand beworben hat oder ein Bewerber akzeptiert wurde.</li>
</ul>

<p>Wenn Sie eine Reaktivierung wünschen oder gerne Sie mehr Informationen zum Löschungsgrund möchten, kontaktieren Sie bitte unseren Support unter support@studentask.de.</p>

<p>Viele Grüße,<br>Ihr StudenTask Team</p>